<header>
  <h2>Notification Centre</h2>

  <div class="close">
    <svg width="12" height="12" viewBox="0 0 12 12" fill="none">
      <path
        d="M1.06152 10.3618C1.37891 10.6792 1.91211 10.6665 2.2168 10.3682L6 6.58496L9.77686 10.3682C10.0879 10.6792 10.6211 10.6792 10.9321 10.3618C11.2432 10.0444 11.2495 9.51758 10.9385 9.20654L7.16162 5.42334L10.9385 1.64648C11.2495 1.33545 11.2495 0.808593 10.9321 0.49121C10.6147 0.180175 10.0879 0.173827 9.77686 0.484863L6 4.26807L2.2168 0.484863C1.91211 0.186523 1.37256 0.173827 1.06152 0.49121C0.750488 0.808593 0.756836 1.3418 1.05518 1.64014L4.83838 5.42334L1.05518 9.21289C0.756836 9.51123 0.744141 10.0508 1.06152 10.3618Z"
        fill="#3C3C3C"
        fill-opacity="0.79"
      />
    </svg>
  </div>
</header>

<section>
  <ul class="notification-container__list" #listEl>
    <li
      class="notification_container"
      *ngFor="let notificationContainer of notificationList; let idx = index"
      [ngStyle]="{ 'z-index': notificationList.length - idx }"
    >
      <ul
        class="notfication_list"
        #ul
        (window:load)="setNotificationListHeight(ul)"
      >
        <li
          class="notification"
          *ngFor="
            let notification of notificationContainer.notifications;
            let i = index
          "
          [ngStyle]="{
            'z-index': notificationList.length - i,
            bottom:
              i >= 0 && i == notificationContainer.notifications.length - 1
                ? '0'
                : '7px'
          }"
        >
          <div class="notification_img">
            <img
              width="180"
              height="180"
              src="../../assets/images/notification_img.png"
              alt
            />
          </div>

          <div class="notification_content">
            <div class="notification_title">{{ notification.title }}</div>
            <div class="notification_desc">
              {{ notification.desc }}
            </div>
            <div class="notification_time">15m ago</div>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</section>
