@import "./shared/shared";

:host {
  @include column-centered-start();
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  .bg_img {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    object-fit: cover;
    object-position: center;
  }
}

#main_container {
  position: relative;
  z-index: 1;
  @include column-centered-start();
  width: 100%;
  height: calc(85% + toRem(32));
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.container {
  @include column-centered-start();
  width: 100%;
  max-width: toRem(562);
}

.time_widget__container {
  @include column-centered();
  width: 100%;
  gap: toRem(12);
  margin-bottom: toRem(18);
}

.music_controller__container {
  width: 100%;
  padding: 0 toRem(8);
}

.notification_container {
  width: 100%;
  margin-top: toRem(30);
  padding: 0 toRem(12);
}
