<img
  class="bg_img"
  src="../assets/images/tokyo_lg.jpg"
  srcset="
    ../assets/images/tokyo_sm.jpg 2560w,
    ../assets/images/tokyo_lg.jpg 5120w
  "
  sizes="(max-width: 1024px) 2560px,
  5120px"
  alt
/>

<main id="main_container">
  <div class="container">
    <div class="time_widget__container">
      <app-time></app-time>
      <app-widget></app-widget>
    </div>

    <div class="music_controller__container">
      <app-music-control></app-music-control>
    </div>

    <div class="notification_container">
      <app-notification> </app-notification>
    </div>
  </div>
</main>

<app-footer> </app-footer>
