@import "./shared/shared";

:host {
  @include column-centered-start();
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/tokyo_sm.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;

  // https://www.pinterest.com/pin/956733514567863784/

  @media screen and (min-width: $sm) {
    background-image: url("../assets/images/tokyo_lg.jpg");
    padding: toRem(24);
  }
}

#main_container {
  @include column-centered-start();
  width: 100%;
  max-width: toRem(562);
  height: 85%;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  // @media screen and (min-width: $lg) {
  //   max-width: toRem(768);
  // }
}

.time_widget__container {
  @include column-centered();
  width: 100%;
  gap: toRem(12);
  margin-bottom: toRem(18);
}

.music_controller__container {
  width: 100%;
  padding: 0 toRem(8);
}

.notification_container {
  width: 100%;
  margin-top: toRem(30);
  padding: 0 toRem(12);
}
