/* You can add global styles to this file, and also import other style files */
@import "./app/shared/shared";

@font-face {
  font-family: "SF Pro Text";
  src: local(SF-Pro-Text-Regular),
    url("./assets/fonts/SF-Pro-Text-Regular.otf") format("opentype");
  font-weight: 400;
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: local(SF-Pro-Text-Medium),
    url("./assets/fonts/SF-Pro-Text-Medium.otf") format("opentype");
  font-weight: 500;
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: local(SF-Pro-Text-Semibold),
    url("./assets/fonts/SF-Pro-Text-Semibold.otf") format("opentype");
  font-weight: 600;
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: local(SF-Pro-Text-Bold),
    url("./assets/fonts/SF-Pro-Text-Bold.otf") format("opentype");
  font-weight: 700;
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: local(SF-Pro-Rounded-Regular),
    url("./assets/fonts/SF-Pro-Rounded-Regular.otf") format("opentype");
  font-weight: 400;
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: local(SF-Pro-Rounded-Medium),
    url("./assets/fonts/SF-Pro-Rounded-Medium.otf") format("opentype");
  font-weight: 500;
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: local(SF-Pro-Rounded-Semibold),
    url("./assets/fonts/SF-Pro-Rounded-Semibold.otf") format("opentype");
  font-weight: 600;
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: local(SF-Pro-Rounded-Bold),
    url("./assets/fonts/SF-Pro-Rounded-Bold.otf") format("opentype");
  font-weight: 700;
  font-display: block;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // scroll-behavior: smooth;

  &:focus {
    outline: none;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  button {
    font-family: var(--main-font);
    cursor: pointer;
    border: none;
  }
}

:root {
  --main-font: "SF Pro Text", sans-serif;
  --main-color: #fff;
  --black-10: #111;
}

html,
body {
  width: 100%;
  height: 100%;
  min-width: toRem(280);
  background-color: var(--main-color);
  font-family: var(--main-font);
  font-weight: 400;
  color: var(--main-color);
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.noscroll {
  overflow: hidden;
}

img[alt] {
  position: relative;

  &::after {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: inherit;
    font-family: var(--main-font);
    content: "";
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
}
